.main{
	background-color: white;
	border-width: .5px;
	border-style: solid;
	border-color: black;
	height: 400px
}

.tract{
	stroke-width: .5px;
	stroke: #696969;
}

.body{
	height: 400px
}


.page-header{
	padding-top: 50px;
}

#entry{
	padding-left: 40%;
	padding-top: 300px;
}

#title{
	padding-left:30px;
	padding-top:45px;
}

#title_p{
	padding-left:30px;
}

#sources{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: gray;
    line-height: 150%;
}


#panel {
    width: 36%;
    height: 300px;
    padding-left:25px;
    padding-right:25px;
	padding-top:20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 42px;
}

h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	color: black;
    padding-left: 5%;
}

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	color: black;
   	padding-left: 5%;
}

h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	color: black;
   	text-align: center;

}

p {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   color: gray;
   line-height: 200%;
   padding-left: 3%;
}

.title {
   	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 1.5em;
    font-weight: bold;
}


.dropdown {
    position: absolute;
    top: 180px;
    left: 425px;
    z-index: 10;
    font-family: baskerville;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.map {
    /* border: thin solid gray;*/
    padding-left: 0;
    position: absolute;
    top: 180px;
    fill: black
}


.numbers {
    fill: red;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}



